flows/Amortization_Schedule_Create_Monthly_Schedules.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Month_to_Collection</name>
        <label>Add Month to Collection</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varMonthSchedulesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentMonthSchedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFutureMonthsCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_this_the_last_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Previous_Month_to_Collection</name>
        <label>Add Previous Month to Collection</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varMonthSchedulesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentMonthSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Txns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Current_Month</name>
        <label>Define Current Month</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Amortization_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Revenue_Amortization_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxMonthlyRevenueAmortizationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.COGS_Amortization_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxMonthlyCOGSAmortizationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Actual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Month_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Previous_Month</name>
        <label>Define Previous Month</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Amortization_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Txns.rstk__soamorttxn_month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Txns.rstk__soamorttxn_year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Revenue_Amortization_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Txns.rstk__soamorttxn_salesamt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.COGS_Amortization_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Txns.rstk__soamorttxn_cogsamt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthSchedule.Actual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Previous_Month_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Perform_Increments</name>
        <label>Perform Increments</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varCurrentYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCalcuateYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNextMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempLoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Define_Current_Month</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_have_amount_remaining_to_amortize</name>
        <label>Do we have amount remaining to amortize?</label>
        <locationX>226</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Do_we_have_schedules_to_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Amount Remaining</defaultConnectorLabel>
        <rules>
            <name>Amount_Remaining</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rstk__soamort_salesamtrmng__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rstk__soamort_cogsamtrmng__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMonthsRemaining</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Current_Month</targetReference>
            </connector>
            <label>Amount Remaining</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_schedules_to_insert</name>
        <label>Do we have schedules to insert</label>
        <locationX>226</locationX>
        <locationY>1883</locationY>
        <defaultConnector>
            <targetReference>Do_we_need_to_update_Schedules_Created_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to insert</defaultConnectorLabel>
        <rules>
            <name>Schedules_to_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMonthSchedulesToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Monthly_Schedules</targetReference>
            </connector>
            <label>Schedules to Insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>When this schedule record was just created, we will update a flag to indicate we created the schedules.</description>
        <name>Do_we_need_to_update_Schedules_Created_Flag</name>
        <label>Do we need to update Schedules Created Flag?</label>
        <locationX>226</locationX>
        <locationY>2219</locationY>
        <defaultConnectorLabel>Nothing to update</defaultConnectorLabel>
        <rules>
            <name>Update_flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Monthly_Schedules_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Created_Records_as_True</targetReference>
            </connector>
            <label>Update flag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_this_the_last_month</name>
        <label>Was this the last month?</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Perform_Increments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not the last month</defaultConnectorLabel>
        <rules>
            <name>The_last_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMonthsRemaining</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFutureMonthsCreated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_schedules_to_insert</targetReference>
            </connector>
            <label>The last month</label>
        </rules>
    </decisions>
    <description>This created month-level detail for amortization schedules when its created</description>
    <environments>Default</environments>
    <formulas>
        <name>fxCalcuateYear</name>
        <dataType>Number</dataType>
        <expression>IF({!varCurrentMonth}=12, {!varCurrentYear}+1, {!varCurrentYear})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxCurrentMonthNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.rstk__soamort_startmonth__c} + {!varCurrentMonth}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>This represents the monthly COGS amortization amount</description>
        <name>fxMonthlyCOGSAmortizationAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.rstk__soamort_cogsamtrmng__c}/{!$Record.rstk__soamort_monthsleft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxMonthlyRevenueAmortizationAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.rstk__soamort_salesamtrmng__c}/{!$Record.rstk__soamort_monthsleft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Define the next month number</description>
        <name>fxNextMonth</name>
        <dataType>Number</dataType>
        <expression>IF({!varCurrentMonth}=12, 1, {!varCurrentMonth}+1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxNextMonthToProcess</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.rstk__soamort_lastmonth__c}),
   {!$Record.rstk__soamort_startmonth__c},
   IF({!$Record.rstk__soamort_lastmonth__c}=12, 1, {!$Record.rstk__soamort_lastmonth__c}+1)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>This is the starting year for the first &apos;future&apos; schedule</description>
        <name>fxYearToProcess</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.rstk__soamort_lastyear__c}), 
    {!$Record.rstk__soamort_startyear__c},
   IF({!$Record.rstk__soamort_lastmonth__c} = 12, {!$Record.rstk__soamort_lastyear__c}+1, {!$Record.rstk__soamort_lastyear__c})
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Amortization Schedule: Create Monthly Schedules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amortization Schedule: Create Monthly Schedules</label>
    <loops>
        <name>Iterate_Txns</name>
        <label>Iterate Txns</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Existing_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Previous_Month</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Do_we_have_amount_remaining_to_amortize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Monthly_Schedules</name>
        <label>Insert Monthly Schedules</label>
        <locationX>94</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Do_we_need_to_update_Schedules_Created_Flag</targetReference>
        </connector>
        <inputReference>varMonthSchedulesToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_schedules</name>
        <label>Delete all schedules</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Existing_Transactions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Existing_Transactions</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amortization_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Amortization_Schedule__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Transactions</name>
        <label>Get Existing Transactions</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Txns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__soamorttxn_soamort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__soamorttxn__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Created_Records_as_True</name>
        <label>Update Created Records as True</label>
        <locationX>94</locationX>
        <locationY>2339</locationY>
        <inputAssignments>
            <field>Monthly_Schedules_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_all_schedules</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Monthly_Schedules_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__soamort_monthsleft__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>rstk__soamort__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the current month we should be adding a schedule for</description>
        <name>varCurrentMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>fxNextMonthToProcess</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCurrentMonthSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Amortization_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varCurrentYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>fxYearToProcess</elementReference>
        </value>
    </variables>
    <variables>
        <name>varFutureMonthsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This is the collection of all monthly schedules that need to be created</description>
        <name>varMonthSchedulesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Amortization_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varMonthsRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.rstk__soamort_monthsleft__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTempLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
